html, body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/Frame 8441.png");
    background-size: 100%;
}

section {
    max-width: 1200px;
}

img {
    max-width: 100%;
}

h1 {
    margin: 30px 0;
    font-weight: 700;
    font-size: 72px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: #fb9333;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

* {
    font-family: "Poppins";
    color: #575757;
}

a {
    font-size: 16px;
    text-decoration: none;
}


.big-text {
    font-size: 48px;
    font-weight: 600;
}

.secondary-text {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}

.medium-text {
    font-weight: 600;
    font-size: 24px;
}


.background {
    width: 80%;
    margin-left: auto;
    position: relative;
}

.background-img {
    position: absolute;
    top: -100px;
    left: 100px;
    z-index: -1;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.nav-bar>a {
    font-weight: 500;
}

.nav-bar>.selected-link {
    font-weight: 700;
}

p {
    font-size: 16px;
}

.soft-bold {
    font-weight: 500;
}

.big-notes {
}

.notes {
}

.orange-text {
    color: #fb9333;
}

.logo {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
}



header {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

.nav-div {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    background-color: #fb9333;
    color: white;
    padding: 20px 50px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

.introduction-section {
    margin-top: 100px;
    display: flex;
    width: 100%;
}

.introduction-text>button {
    font-size: 18px;
    margin-top: 20px;
}

.introduction-text {
    width: 50%;
}

.highlighted-text {
    padding: 15px;
    display: inline;
    border-radius: 30px;
    background-color: #fff0dc;
}

.stat {
    display: inline-block;
    margin: 70px 40px 0 0;
    /* width: 10%; */
}

.stat>p {
    margin: 0
}

.introduction-img-div {
    background-image: url("../images/Illustration.png");
    background-size: 100%;
    width: 50%;
    height: 100%;
    position: relative;
    aspect-ratio: 15/17;
}

.img-subdiv {
    display: flex;
    position: absolute;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
}


.customer-div {
    background-color: white;
    display: flex;
    max-width:100%;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 50px;
    margin-top: 20px;
}

.customer-div>div {
    padding: 10px 0;
}

.customer-div p {
    margin: 0;
}

.customer-div>img {
    aspect-ratio: 1/1;
    object-fit: contain;
}


.calories-div {
    background-color: white;
    /* width: 30%; */
    padding: 20px 30px;
    border-radius: 30px;
}


.calories-div>p {
    margin: 10px 0;
}

.calories-bars {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.calories-bar {
    height: 50px;
    width: 7px;
    
    border-radius: 20px;
    background-color: #F5F5F5;
}

.calories-bar::after {
    content: "";
    display: block;
    /* margin-bottom: 100px; */
    margin-top: 20px;
    height: 30px;
    border-radius: 20px;
    background: linear-gradient(#FFD7A0, #FB9333);
}





.achievements-section {

    width: 85%;
    margin: 50px auto 30px auto;   
}

.achievements {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.achievement {
    box-sizing: border-box;
    width: 30%;
    border: 1px solid rgba(251, 147, 51, 0.2);
    padding: 30px;
    border-radius: 50px;
    box-shadow: #575757;
}

.achievement:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    /* background-color: black; */
}

.achievement-link {
    padding: 10px 20px;
    border-radius: 30px;

}

.achievement-link:hover {
    background-color: #fb9333;
    color: white;
}


.achievement img {
    width: 120px;
}

.smaller-icon {
    width: 48px;
}

.achievements-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.achievements-header-div>h2 {
    width: 55%;
}

.achievements-header-div>p {
    width:40%;
}



.reviews-section {
    background-color: #fff5e8;
    padding: 50px 0;
    min-width: 100%;
}


.reviews-section-div {
    width: 85%;
    max-width: 1200px;
    padding: 50px 7.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    /* box-sizing: content-box; */
}

.reviews-text-div {
    width: 40%;
}


.reviews-div {
    position: relative;
    left: 150px;
    top: 40px;
    width: 55%;
    display: flex;
    gap: 20px;
    padding-right: 7.5%;
}

.review {
    background-color: white;
    /* width: 300px; */
    border-radius: 10px;
    padding: 20px;
}

.review>img {
    position: relative;
    top: -40px;
}

.menu-section {
    width: 85%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-section>h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
}

.dishes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.dish-text-div {
    position: relative;
    top: -120px;
}

.dish-text-div>p {
    margin: 0;
    color: rgb(255, 255, 255);
}

.dish-name {
    font-size: 24px;
    font-weight: 500;
}

.price {
    font-size: 40px;
    font-weight: 700;
}



.subscribe-section {
    width: 85%;
    margin: 50px auto 100px auto;
    display: flex;
    align-items: center;
    background-color: #fff1de;
    border-radius: 30px;
}

.subscribe-div {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 100px auto;
    box-sizing: border-box;
}

.subscribe-div>h3 {
    margin: 0;
}

.subscribe-div>h2 {
    text-align: center;
    margin: 0;
}

.subscribe-div>p {
    width: 75%;
    text-align: center;
    margin-bottom: 90px;
}

.email-div {
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 10px 10px 30px;
    border-radius: 50px;
    align-items: center;
    box-sizing: border-box;
}

.email-div>button {
    font-size: 18px;
    font-weight: 500;
}

.email {
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 50%;
    height: 100%;
    font-size: 18px;
}



footer {
    width: 85%;
    max-width: 1200px;
    gap: 15%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.rights-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}







